

/*global style */

/*
    Primary:#607d8b;
    P-Light:#8eacbb;
    P-Dark:#34515e;
    Secondary:#b71c1c;
    S-Light:#f05545;
    S-Dark:#7f0000;

    

    font-family: 'Black Ops One', cursive;

    font-family: 'Fjalla One', sans-serif;

    font-family: 'Bowlby One', cursive;

    font-family: 'Rubik Mono One', sans-serif;


*/

body{
    margin:auto;
    width: 1000px;
    background-color: black;
}

#container{
    margin:auto;
    width:1000px;
    background-color: white;
}

header{
    display:block;
    width:996px;
    height: 150px;
    background-color: #607d8b;
    border: 2px solid #607d8b;
    margin:0;
    padding:0;
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
    background-image: url(../Images/Baner.jpg);
    background-size: cover;
    background-position: top;
}

header h1{
    color: white;
    text-shadow: 1 1px 1px #b71c1c;
    text-align: center;
    margin-top: 50px;
}

nav{
    float:left;
    width:100%;
    background-color: #34515e;
    margin:0;
    padding:0;
}

nav ul{
    margin:0;
    padding:0;
    list-style:none;
    color: white;
}

nav ul li{
    float: left;
}

nav ul li a{
    display:block;
    text-decoration: none;
    color:white;
    text-align: center;
    padding: 14px 16px;
}

nav ul li a:hover{
    background-color: #D50000;
}

nav .active{
    background-color: #7f0000;
    color: white;
}

.keepOpen{
    clear:both;
}

footer{
    width:100%;
    background-color: #34515e;
    color: white;
    text-align: center;
    padding: 5px 0px;
}


/*index.html styles*/
#content h2{
    float: left;
    width:100%;
    color:black;
    padding: 0px 10px;
}

#mainp{
    padding: 0px 10px;
}

#imgMini{
    display: block;
    width: 1000px;
    margin: 0px;  
}

/*products.html styles */
#grenadel{
    float: left;
}

#gunsp{
}

/*about.html styles*/
img#img-about{
    width:500px;
    margin: 10px;
    border: 5px solid #b71c1c;
    float:left;
}
h2#h2-about{
    float:left;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 40%;
}
p#p-about{
    float:left;
    width: 47%;
    margin-top: 10px;
}