

/*global style */

/*
    Primary:#607d8b;
    P-Light:#8eacbb;
    P-Dark:#34515e;
    Secondary:#b71c1c;
    S-Light:#f05545;
    S-Dark:#7f0000;
*/

body{
    margin:auto;
    width: 1000px;
    background-color: black;
}

#container{
    margin:auto;
    width:1000px;
    background-color: white;
}

header{
    display:block;
    width:996px;
    height: 150px;
    background-color: #607d8b;
    border: 2px solid #607d8b;
    margin:0;
    padding:0;
}

header h1{
    color: white;
    text-shadow: 1 1px 1px #b71c1c;
    text-align: center;
    margin-top: 50px;
}

nav{
    float:left;
    width:100%;
    background-color: #34515e;
    margin:0;
    padding:0;
}

nav ul{
    margin:0;
    padding:0;
    list-style:none;
    color: white;
}

nav ul li{
    float: left;
}

nav ul li a{
    display:block;
    text-decoration: none;
    color:white;
    text-align: center;
    padding: 14px 16px;
}

nav ul li a:hover{
    background-color: #D50000;
}

nav .active{
    background-color: #7f0000;
    color: white;
}

.keepOpen{
    clear:both;
}

footer{
    width:100%;
    background-color: #34515e;
    color: white;
    text-align: center;
    padding: 5px;
}


/*index.html styles*/
#content h2{
    float: left;
    width:100%;
    color:black;
    padding: 0px 10px;
}

#mainp{
    padding: 0px 10px;
}

#imgMini{
    display: block;
    width: 1000px;
    margin: 0px;  
}

/*products.html styles */
#grenadel{
    float: left;
}

#gunsp{
}