body{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 6%;
    background-color: black;
    background-image: url(Images/OldBook.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 1%;
}
#page1{
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: span 1;
}

#page2{
    font-size: 20px;
    grid-column-start: 2;
    grid-column-end: span 1;
}
header{
    background-color: gray;
}